@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
}

div.conteiner{
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 151, 151);
    display: grid;
    grid-template: 100px repeat(3, 1fr) 50px / 350px repeat(3, 1fr);
}

.header{
    background-color: aqua;
    grid: 1 / 1 / 2 / 2;
    text-align: center;
    place-content: center;
}

.nav{
    grid-area: 1 / 2 / 2 / 5;
    background-color: aquamarine;
    place-content: center;
    text-align: end;
}

.aside{
    background-color: bisque;
    grid-area: 2 / 1 / 5 / 2;
    display: none;
}

.main{
    background-color: yellow;
    grid-area: 2 / 1 / 5 / 5;
}

.footer{
    grid-area: 5 / 1 / 6 / 6;
    background-color: yellowgreen;
}


@media screen and (min-width: 900px) {
    .aside{
        display: grid;
    }

    .main{
        grid-area: 2 / 2 / 5 / 6;
    }
}