@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    background-color: black;
}

#conteiner{
    display: grid;
    grid-template: 150px 100px repeat(2, 1fr)  100px / repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

.caixa-header{
    grid-area: 1 / 1 / 6 / 6;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    height: 200px;
    width: 100vw;
    place-items: center;
    background-color: cornflowerblue;
}

h1{
    grid-area: 2 / 1 / 3 / 4;
    background-color: blanchedalmond;
    
}

.caixa-nav{
    grid-area: 4 / 2 / 4 / 3;
    background-color: chartreuse;
}

.caixa-main{
    display: grid;
    grid-template: 100px repeat(2, 1fr) / repeat(4, 1fr) 1.5fr;
    grid-area: 3 / 1 / 5 / 6;
    background-color: orange;
}

h2{
    grid-area: 1 / 2 / 1 / 2;
    text-align: end;
    background-color: rgb(255, 0, 0);
}

.sec1{
    grid-area: 2 / 1 / 6 / 5;
    background-color: rgb(137, 43, 226);
}

.sec2{
    grid-area: 1 / 5 / 6 / 6;
    background-color: rgb(165, 42, 42);
}

.caixa-footer{
    grid-area: 5 / 1 / 6 / 6;
    background-color: rgb(127, 255, 212);
}